{{#if isEditing}}
    {{todo-input focus-out="doneEditing" value=buffText enter="doneEditing" escape-press="cancelEditing"}}
{{else}}
    {{todo-checkbox checked=todo.complete action="saveTodo"}}
    <span class="todo-text" {{action "setEditing" on="doubleClick"}}>
    {{todo.text}}
    </span>
    <button class="deleteBtn" {{action "deleteTodo"}}>x</button>
{{/if}}
